.wrapper {
    padding: 1rem;
    min-height: 150vh;
}

.wrapper h3, h4 {
    text-align: center;
    padding-top: 1rem;
}

hr {
    margin-top: 1rem;
}

#fact {
    background: -webkit-linear-gradient(top left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.media-scroller {
    --_spacer: 1rem;
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    padding: var(--_spacer) 0;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 var(--box-shadow-clr);
    overflow: hidden;
    transition: all ease-in-out .2s;
}

.media-element > img {
    margin-left: 50%;
    transform: translateX(-50%);
    block-size: 100%;
    object-fit: cover;
}

.media-element:hover {
    filter: brightness(.5);
    box-shadow: 8px 8px 8px 0 var(--box-shadow-clr);
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
}
  
.snaps-inline > * {
    scroll-snap-align: start;
}