:root {
    --box-shadow-clr: rgb(34, 60, 80, 0.4);
    --background-clr: #82d7ff;
    --dark-clr: #00aeff;
    --dark-hower-clr: #38c0ff;
}

/*The whole page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: var(--background-clr);
}

h1, h2, h3, h4, a {
    font-family: 'Roboto Mono', monospace;
}

.container {
    max-width: 840px;
    margin: 0 auto;
}

.container > div {
    margin: 20px auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*Header*/
header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-wrapper {
    background: var(--dark-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    height: 4rem;
}

header ul {
    list-style: none;
}

header li {
    float: left;
}

header a {
    text-decoration: none;
    color: black;
}

.nav-object {
    padding: 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: var(--dark-background-clr);
    transition: all 0.2s ease-in-out;
}

.nav-object:not(.active):hover {
    background-color: var(--dark-hower-clr);
}

.nav-object a {
    transition: all 0.2s ease-in-out;
}

.nav-object:not(.active):hover a {
    color: white;
}

.nav-object.active {
    background-color: var(--background-clr);
}


/*Intro*/
.intro {
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 4px 0 var(--box-shadow-clr);
    transition: all ease-in-out .2s;
    background-color: rgb(25, 25, 25);
}

.profile-picture:hover {
    box-shadow: 0 8px 12px 0 var(--box-shadow-clr);
}


/*I am and I like to*/
.about-grid {
    display: grid;
    margin-block: 0;
    grid-template-columns: 50% 50%;
}

.about-grid h3 {
    margin-bottom: 0.5rem;
}

.i-am, .i-like {
    justify-self: center;
}

.about-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 480px) {
    .about-grid {
        grid-template-columns: 100%;
        column-width: auto;
        gap: 1rem;
    }
    .i-am, .i-like {
        width: 195px;
        justify-self: center;
        text-align: center;
    }
}


/*My projects*/
.projects-heading {
    text-align: center;
    margin-bottom: 0.5rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-image-wrapper {
    justify-self: center;
    padding: 4%;
    position: relative;
}

.project-image {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    text-shadow: none;
    box-shadow: 0 4px 6px 0 var(--box-shadow-clr);
    transition: all ease-in-out .2s;
}

.project-image:hover {
    filter: brightness(.5);
    box-shadow: 8px 8px 8px 0 var(--box-shadow-clr);
}

.project-image-wrapper:hover > a {
    visibility: visible;
    text-shadow: 1px 1px 4px black;
}

.project-image-wrapper > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 1rem;
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .2s;
}

@media (max-width: 650px) {
    .projects-grid {
        grid-template-columns: 100%;
    }
}

/*Links and contact*/
.links-and-contact {
    display: grid;
    grid-template-columns: 30% 70%;
}

.links {
    justify-self: center;
}

.links-list {
    list-style: none;
    padding: 0;
}

.links > h3,
.email-and-message form label h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 650px) {
    .links-and-contact {
        grid-template-columns: 100%;
    }
    .email-and-message {
        justify-self: center;
    }
}

form input, textarea {
    padding: 5px;
    border-radius: 5px;
    width: 240px;
    border: 0px solid black;
    box-shadow: 0 0 5px 2px var(--box-shadow-clr);
    font-family: none;
    color: black;
}

form input[type="submit"] {
    width: 240px;
    background: var(--dark-clr);
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out .2s;;
}

form input[type="submit"]:hover {
    filter: brightness(1.1);
}

.submit-button-wrapper {
    margin: 20px 0;
}